* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
<<<<<<< HEAD
  color: #222;
=======
  color: #e4e4e4;
>>>>>>> master
  font-family: 'Open Sans', sans-serif;  
  background-color: #da1b60;
  background-image: linear-gradient(#ff8a00 0%, #da1b60 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 15px;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 400px;
  max-width: 100%;
  margin: 20px auto 40px;
<<<<<<< HEAD
  /* border: 1px solid #eee; */
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
=======
  border: 1px solid #da1b60;
  padding: 30px 40px;
>>>>>>> master
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  background-color: #100e17;
  overflow: hidden;
  position: relative;
}

main {
  padding: 30px 40px;

}

h1 {
  font-size: 28px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  font-size: 12px;
}

.title {
  position: relative;
  margin: 0 0 15px 0;
  height: 60px;
  text-align: center;
}

/* .title::after {
  background-color: #ff4273;
  content: '';
  height: 5px;
  width: 90px;
  position: absolute;
  bottom: 0;
} */

#workouts li:nth-of-type(1n+6),
#ab-container,
#weight-container,
#cardio-container  {
  display: none;
}

.activities-container {
  padding: 15px;
  background:rgba(218, 27, 96, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
  border: 1px solid rgba(218, 27, 96, 0.4);
  border-radius: 4px;
  padding: 5px;
}

#ab-workouts li {
  border: 1px solid rgba(78,240,55, 0.5);
}

#weight-workouts li {
  border: 1px solid rgba(0,183,194, 0.5);
}

.complete {
  background-color: #da1b60;
  color: #f4f7fc;
  display: none;
}

.highlight {
  background-color: #ff8a00;
  color: #f4f7fc;
}

button {
  display: block;
  width: 100%;
  background-color: #ff8a00;
  border: 2px solid #da1b60;
  color: #100e17;
  min-height: 30px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}