* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #e4e4e4;
  font-family: 'Open Sans', sans-serif;  
  background-color: #da1b60;
  background-image: linear-gradient(#ff8a00 0%, #da1b60 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5px;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 400px;
  max-width: 100%;
  margin: 5px auto;
  border: 1px solid #da1b60;
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  background-color: #1c1329;
  overflow: hidden;
  position: relative;
}

main {
  padding: 30px 40px;

}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
  font-size: 12px;
}

.title {
  position: relative;
  margin: 0 0 15px 0;
  text-align: center;
  padding: 20px;
}

#workouts li:nth-of-type(1n+6),
#ab-container,
#weight-container,
#cardio-container  {
  display: none;
}

.activities-container {
  /* padding: 15px; */
  /* background:rgba(218, 27, 96, 0.2); */
  border-radius: 4px;
  margin-bottom: 50px;
}

.container-title {
  padding: 0 20px;
}

ul {
  list-style: none;
}

li {
  /* margin-bottom: 5px; */
  border-top: 2px dashed rgba(218, 27, 96, 0.4);
  /* border-radius: 4px; */
  padding: 15px 20px;
}

#workouts li:nth-of-type(5),
li:last-of-type {
  border-bottom: 2px dashed rgba(218, 27, 96, 0.4);

}

.complete {
  /* background-color: #da1b60; */
  color: #f4f7fc;
  /* display: none; */
}

.highlight {
  background-color: #da1b60;
  color: #111;
}

button {
  display: block;
  width: 100%;
  background-color: #ff8a00;
  border: none;
  color: #100e17;
  min-height: 30px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .5s;
}

button:hover,
button:active,
button:focus
 {
  background-color: #da1b60;
  color: #fff;
}

.fa-pray {
  transform: rotate(-110deg);
  font-size: 24px;
  padding-right: 9px;
}


.fa-check {
  color: rgba(255,255,255,0.2);
  float: right;
}

.complete .fa-check {
  color: #da1b60;
}