* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #e4e4e4;
  font-family: 'Open Sans', sans-serif;  
  background-color: #da1b60;
  background-image: linear-gradient(#861b5f 0%, #422d60 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5px;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  background-color: #1c1329;
  overflow: hidden;
  position: relative;
}

main {
  padding: 30px 40px;

}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

h3 {
  padding: 20px;
}

p {
  margin-bottom: 15px;
  font-size: 12px;
}

a {
  color: #ff8a00;
}

a:hover,
a:focus {
  color: #da1b60;
}

.title {
  position: relative;
  margin: 0 0 15px 0;
  text-align: center;
  padding: 20px;
}

.title p {
  text-align: left;
  margin-bottom: 0;
}

.header-btns {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
}

#workouts li:nth-of-type(1n+6),
#ab-container,
#weight-container,
#cardio-container  {
  display: none;
}

#ab-container li .fa-check,
#weight-container li .fa-check,
#cardio-container li .fa-check {
  color: #da1b60;
}

#ab-container li.highlight .fa-check,
#weight-container li.highlight .fa-check,
#cardio-container li.highlight .fa-check {
  display: block;
  color: #f4f7fc;
}

.activities-container {
  border-radius: 4px;
  margin-bottom: 50px;
}

.container-title {
  padding: 0 20px;
}

ul {
  list-style: none;
}

li {
  border-top: 2px dashed rgba(218, 27, 96, 0.4);
  padding: 15px 20px;
}

#workouts li:nth-of-type(5),
li:last-of-type {
  border-bottom: 2px dashed rgba(218, 27, 96, 0.4);

}

.controls {
  float: right;
}

.fa-check,
.fa-plus-circle {
  color: rgba(255,255,255,0.2);
  margin-left: 20px;
}

li.added .fa-plus-circle {
  color: #da1b60;
}

.complete {
  color: #da1b60;
  background-color: #191124;
}

.complete .fa-check {
  color: #da1b60;
}

.ab-items {
  padding: 20px;
}

#chosen-abs,
#chosen-weights,
#chosen-cardio {
  display: none;
}

#chosen-abs.added,
#chosen-weights.added,
#chosen-cardio.added  {
  display: block;
}

button,
.btn-info {
  display: block;
  /* width: 100%; */
  flex: 0 0 48%;
  background-color: #ff8a00;
  border: none;
  color: #100e17;
  min-height: 30px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: all .5s;
}

button:hover,
button:focus
 {
  background-color: #da1b60;
  color: #f4f7fc;
  text-decoration: none;
}

button#email,
button#close {
  max-width: 100px;
  display: inline-block;
  font-size: 12px;

}

.fa-pray {
  transform: rotate(-110deg);
  font-size: 24px;
  padding-right: 9px;
}

#completed-modal {
  display: none;
  background: white;
  padding: 20px;
  color: #1c1329;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#completed-modal.show {
  display: block;
}

.items-complete {
  font-size: 16px;
}

.hide {
  display: none;
}